<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{admin/header::general-libraries-and-styles(~{::title}, ~{::link}, ~{::head/script})}">
    <meta charset="UTF-8">
    <title th:text="#{create.product}"></title>
    <script th:replace="~{admin/header::select2}"></script>
    <script th:replace="~{admin/header::cropper}"></script>
    <script th:replace="~{admin/header::CKEditor}"></script>
    <link rel="stylesheet" href="/styles/admin/goods-create.css">
    <link rel="stylesheet" th:replace="~{admin/goods-form-fragment::goods-form-style}">
</head>
<body>
<div th:replace="~{admin/sidebar::sidebar-fragment}"></div>
<div class="main">
    <div class="block">
        <div><button class="button button-blue button-go-back"><i class="fa-solid fa-arrow-left"></i></button></div>
        <div class="block-title" th:text="#{product.info}"></div>
        <div th:replace="~{admin/goods-form-fragment::goods-form}"></div>
        <button class="button button-blue float-end" id="btn-update" th:text="#{save}"></button>
    </div>
</div>

<script>
    sidebarSetSelected($(".goods-management"));
    $(document).ready(() => {
        $("#btn-update").click(() => saveChanges());

        //on image change
        $("#input-product-img").change(() => {
            const [file] = $("#input-product-img").prop("files");
            if (file != null) {
                if (cropper != null) {
                    cropper.destroy();
                }
                const url = URL.createObjectURL(file);
                const img = new Image();
                img.src = url;
                img.onload = () => {
                    const height = img.height;
                    const width = img.width;
                    if (width >= 150 && height >= 150) {
                        $(".img-product").prop("src", url);
                        prepareCropper(width, height);
                    } else {
                        $(".input-image").val("");
                        Swal.fire({
                            title: "[[#{invalid.product.image.resolution}]]",
                            text: " ",
                            showConfirmButton: true,
                            icon: "error"
                        });
                    }
                };
            }
        });

        $(".button-go-back").click(() => {
            window.location.href = "/admin/goods"
        });
    });

    function getGoodsId() {
        return [[${goods.getId()}]];
    }

    function saveChanges() {
        if (validateForm() === false) {
            return;
        }

        $("#btn-update").addSpinner();
        const data = new FormData();
        data.append("goods", JSON.stringify(collectFormData()));
        if (cropper != null) {
            cropper.getCroppedCanvas().toBlob((blob) => {
                data.append("coverImage", blob);
                sendUpdateRequest(data);
            }, "image/jpeg", 0.7);
        } else {
            sendUpdateRequest(data);
        }
    }

    function sendUpdateRequest(formData) {
        $.ajax({
            url: "/admin/goods/update",
            method: "POST",
            data: formData,
            contentType: false,
            processData: false,
            success: (response) => {
                if (response.code === 200) {
                    showChangeSavedSwal();
                    if (cropper != null) {
                        cropper.destroy();
                    }
                    const goods = response.data;
                    $(".img-product").attr("src", goods.goodsCoverImg);
                } else {
                    Swal.fire({
                        title: response.message,
                        text: " ",
                        showConfirmButton: true,
                        icon: "error",
                        position: "top"
                    });
                }
            },
            error: () => showServerErrorSwal(),
            complete: () => $("#btn-update").removeSpinner(),
        });
    }

    function customUploadAdapter(editor) {
        editor.plugins.get("FileRepository").createUploadAdapter = (loader) => new UploadAdapter(loader);
    }

    ClassicEditor.create(document.querySelector("#editor"), {
        extraPlugins: [customUploadAdapter]
    }).then(e => editor = e);

    class UploadAdapter {
        constructor(loader) {
            //CKEditor 5 instance
            this.loader = loader;
        }

        upload() {
            return this.loader.file.then(file => {
                return new Promise((resolve, reject) => {
                    const data = new FormData();
                    data.append("file", file);
                    data.append("goodsId", getGoodsId());
                    $.ajax({
                        url: "/admin/goods/upload/details",
                        method: "post",
                        processData: false,
                        contentType: false,
                        data: data,
                        success: (res) => {
                            if (res.code === 200) {
                                resolve({default: res.data});
                            } else {
                                showErrorAlert("error");
                                reject();
                            }
                        },
                        error: () => {
                            showServerErrorSwal();
                            reject();
                        },
                    });
                });
            })
        }

        abort() {
            console.log("Abort");
        }
    }
</script>
</body>
</html>