<!--suppress HtmlFormInputWithoutLabel, JSUnresolvedFunction -->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title></title>
    <style th:fragment="goods-form-style">
        label {
            font-size: 12px;
            font-weight: bold;
        }
    </style>
</head>
<div th:fragment="goods-form">
    <div class="block-content">
        <div class="row">
            <div class="col-3">
                <label th:text="#{product_categories}"></label>
                <select id="slc-category-level-1"
                        class="select2"
                        th:lang="${#locale.getLanguage()}">
                </select>
            </div>
            <div class="col-3 d-flex flex-md-column-reverse">
                <label></label>
                <select id="slc-category-level-2"
                        class="select2"
                        th:lang="${#locale.getLanguage()}"
                        disabled>
                </select>
            </div>
            <div class="col-3 d-flex flex-md-column-reverse">
                <label></label>
                <select id="slc-category-level-3"
                        class="select2"
                        th:lang="${#locale.getLanguage()}"
                        disabled>
                </select>
            </div>
            <div class="col-3">
                <label for="slc-goods-brand" th:text="#{product.brand}"></label>
                <select class="select2" id="slc-goods-brand" th:placeholder="#{product.brand}"
                        th:lang="${#locale.getLanguage()}"></select>
            </div>
        </div>

        <div class="row">
            <div class="col-6">
                <label for="input-goods-name" th:text="#{product.name}"></label>
                <input class="form-control form-control-sm" id="input-goods-name" th:placeholder="#{product.name}">
            </div>
            <div class="col-6">
                <label for="input-goods-intro" th:text="#{product.description}"></label>
                <input class="form-control form-control-sm" id="input-goods-intro" th:placeholder="#{product.description}">
            </div>

        </div>
        <div class="row">
            <div class="col-4">
                <label for="input-original-price" th:text="#{product.cost.price}"></label>
                <input class="form-control form-control-sm" id="input-original-price" th:placeholder="#{product.cost.price}">
            </div>
            <div class="col-4">
                <label for="input-selling-price" th:text="#{product.sale.price}"></label>
                <input class="form-control form-control-sm" id="input-selling-price" th:placeholder="#{product.sale.price}">
            </div>
            <div class="col-4">
                <label for="input-stock" th:text="#{stock}"></label>
                <input class="form-control form-control-sm" id="input-stock" th:placeholder="#{stock}">
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <label for="slc-goods-tag" th:text="#{product.tag}"></label>
                <select id="slc-goods-tag" th:placeholder="#{product.tag}" multiple></select>
            </div>
        </div>
        <div class="image-preview-container">
            <div>
                <img alt="product image" class="img-product"/>
            </div>
            <div class="d-inline-block">
                <button class="button button-blue btn-upload-image" th:text="#{upload}"></button>
                <button class="button button-blue btn-change-image" th:text="#{change.image}"></button>
            </div>
        </div>
        <div class="image-upload-container">
            <div><i class="fa-solid fa-box fa-4x"></i></div>
            <span th:text="#{upload.product.image} + '(150*150)'"></span>
        </div>
        <input type="file" id="input-product-img" accept="image/png, image/gif, image/jpeg, image/webp" hidden>
        <div id="editor"></div>
        <div class="form-check form-switch">
            <label class="form-check-label" for="switch-on-sale" th:text="#{available.sale}"></label>
            <input class="form-check-input" type="checkbox" id="switch-on-sale">
        </div>
    </div>
    <script>
        let cropper = null;
        let editor = null;

        $(document).ready(() => {
            initListener();
            initSelect2();
            $("input").attr("autocomplete", "off");
        });

        function initListener() {
            //on category select option change
            const slcCategoryL1 = $("#slc-category-level-1");
            const slcCategoryL2 = $("#slc-category-level-2");
            const slcCategoryL3 = $("#slc-category-level-3");

            slcCategoryL1.change(() => {
                slcCategoryL3.val(null).trigger("change"); //reset select2
                slcCategoryL2.val(null).trigger("change");
                slcCategoryL3.prop("disabled", true);
                if (slcCategoryL1.val() == null) {
                    slcCategoryL2.prop("disabled", true);
                } else {
                    slcCategoryL2.prop("disabled", false);
                }
            });

            slcCategoryL2.change(() => {
                if (slcCategoryL2.val() == null) {
                    slcCategoryL3.prop("disabled", true);
                } else {
                    slcCategoryL3.prop("disabled", false);
                }
            });

            //on click for image upload and reset
            $(".image-upload-container").click(() => {
                $("#input-product-img").click();
            });

            $(".btn-change-image").click(() => {
                $("#input-product-img").click();
            });
        }

        function prepareCropper() {
            const container = $(".img-product");
            cropper = new Cropper(container.get(0), {
                aspectRatio: 150 / 150,
                viewMode: 1,
                minContainerHeight: 150,
                minContainerWidth: container.width(),
                autoCropArea: 1
            });
        }

        const processCategoryResult = (response) => {
            if (response.code === 200) {
                const options = response.data.map((c) => ({id: c.goodsCategoryId, text: c.categoryName}));
                return {results: options};
            } else {
                return {results: []};
            }
        };

        function initSelect2() {
            $("#slc-category-level-1").select2({
                language: "es",
                placeholder: "[[#{product.category.level1}]]",
                minimumResultsForSearch: -1,
                ajax: {
                    url: "/admin/product-category/listByLevelAndParent",
                    method: "POST",
                    dataType: "json",
                    data: {parentId: 0, level: 1},
                    processResults: processCategoryResult,
                }
            });

            $("#slc-category-level-2").select2({
                placeholder: "[[#{product.category.level2}]]",
                minimumResultsForSearch: -1,
                ajax: {
                    url: "/admin/product-category/listByLevelAndParent",
                    method: "POST",
                    dataType: "json",
                    data: () => ({parentId: getLevel2Parent(), level: 2}),
                    processResults: processCategoryResult,
                }
            });

            $("#slc-category-level-3").select2({
                placeholder: "[[#{product.category.level3}]]",
                minimumResultsForSearch: -1,
                ajax: {
                    url: "/admin/product-category/listByLevelAndParent",
                    method: "POST",
                    dataType: "json",
                    data: () => ({parentId: getLevel3Parent(), level: 3}),
                    processResults: processCategoryResult,
                }
            });

            $("#slc-goods-tag").select2({
                tags: true,
                language: {
                    noResults: function () {
                        return "[[#{select2.tag}]]";
                    },
                },
                placeholder: "[[#{product.tag}]]",
            });

            $("#slc-goods-brand").select2({
                placeholder: "[[#{product.brand}]]",
                width: "100%",
                minimumInputLength: 1,
                dataType: "json",
                ajax: {
                    url: "/admin/goods/brand/search-containing",
                    async: false,
                    method: "POST",
                    delay: 100,
                    dataType: "json",
                    data: (param) => {
                        return {search: param.term}
                    },
                    processResults: (res) => {
                        if (res.code === 200) {
                            const options = res.data.map((brand) => ({
                                id: brand.goodsBrandId,
                                text: brand.goodsBrandName
                            }));
                            return {results: options};
                        } else {
                            return {results: []};
                        }
                    }
                }
            });
        }

        function getLevel2Parent() {
            return $("#slc-category-level-1").val();
        }

        function getLevel3Parent() {
            return $("#slc-category-level-2").val();
        }

        function getGoodsId() {
            const url = window.location.href;
            if (url.includes("edit")) {
                const arr = url.split("/");
                return parseInt(arr[arr.length - 1]);
            }
            return null;
        }

        function collectFormData() {
            return {
                goodsId: getGoodsId(),
                goodsName: $("#input-goods-name").val(),
                goodsIntro: $("#input-goods-intro").val(),
                goodsBrandId: $("#slc-goods-brand").val(),
                goodsBrand: $("#input-goods-brand").val(),
                goodsCategoryId: getSelectedCategoryId(),
                goodsCoverImg: getCoverImgSrc(),
                goodsDetailContent: editor.getData(),
                originalPrice: getOriginalPrice(),
                sellingPrice: getSellingPrice(),
                stockNum: getStockNum(),
                tag: getTags(),
                goodsSellStatus: $("#switch-on-sale").prop("checked"),
            };
        }

        function getTags() {
            const tagArray = $("#slc-goods-tag").select2('data');
            return tagArray.map((option) => {
                return {goodsTagId: null, tagName: option.text};
            });
        }

        function getCoverImgSrc() {
            const imageSrc = $(".img-product").attr("src");
            if (imageSrc == null || imageSrc.startsWith("blob")) {
                return null;
            } else {
                return imageSrc;
            }
        }

        function getStockNum() {
            let stock = $("#input-stock").val();
            if (Validator.isInteger(stock)) {
                return parseInt(stock);
            } else {
                return null;
            }
        }

        function getSellingPrice() {
            let price = $("#input-selling-price").val();
            price = price.replace(",", ".");
            if (!Validator.isNumeric(price)) {
                return null;
            } else {
                return parseFloat(price);
            }
        }

        function getOriginalPrice() {
            let price = $("#input-original-price").val();
            price = price.replace(",", ".");
            if (!Validator.isNumeric(price)) {
                return null;
            } else {
                return parseFloat(price);
            }
        }

        function getSelectedCategoryId() {
            const selectL3 = $("#slc-category-level-3").val();
            if (selectL3 != null)
                return selectL3;

            const selectL2 = $("#slc-category-level-2").val();
            if (selectL2 != null)
                return selectL2;

            const selectL1 = $("#slc-category-level-1").val();
            if (selectL1 != null)
                return selectL1;
        }

        <!-- image upload adapter -->

        function validateForm() {
            let isValid = true;
            const isEditing = window.location.href.includes("edit"); //编辑的保存图片方法不一样，可以跳过验证
            const inputs = [
                $("#input-goods-name"),
                $("#input-goods-intro"),
                $("#input-original-price"),
                $("#input-selling-price"),
                $("#input-stock"),
            ];

            inputs.forEach((node) => {
                if (node.val() === "") {
                    isValid = false;
                    node.setInvalid();
                }
            });

            if (getSelectedCategory() == null) {
                isValid = false;
                $("#slc-category-level-1").next().setInvalid();
            }

            const src = $(".img-product").attr("src");
            if ((src == null || src.startsWith("blob")) && !isEditing) {
                isValid = false;
                if (src == null) {
                    $(".image-upload-container").setInvalid();
                } else {
                    Swal.fire({
                        title: "[[#{warning.need.upload.image}]]",
                        text: " ",
                        showConfirmButton: true,
                        icon: "warning"
                    });
                }
            }

            if (editor.getData().trim().length === 0) {
                isValid = false;
                $(".ck-editor").setInvalid();
            }
            return isValid;
        }

        function getSelectedCategory() {
            const categoryL1 = $("#slc-category-level-1").val();
            const categoryL2 = $("#slc-category-level-2").val();
            const categoryL3 = $("#slc-category-level-3").val();

            if (categoryL3 != null) {
                return categoryL3;
            }
            if (categoryL2 != null) {
                return categoryL2;
            }
            if (categoryL1 != null) {
                return categoryL1;
            }
            return null;
        }
    </script>

    <script th:inline="javascript" th:charset="UTF-8">
        const goods = [[${goods}]];
        const category = [[${category}]];
        const goodsBrand = [[${goodsBrand}]];
        $(document).ready(() => loadSavedData());

        function loadSavedData() {
            if (goods == null)
                return;

            //load and change select value
            const categorySelects = [$("#slc-category-level-1"), $("#slc-category-level-2"), $("#slc-category-level-3")];

            if (category != null) {
                category.reverse();
                category.forEach((c) => {
                    const {goodsCategoryId, categoryLevel, categoryName} = c;
                    const select = categorySelects[categoryLevel - 1];
                    const option = new Option(categoryName, goodsCategoryId, true, true);
                    select.prop("disabled", false);
                    select.append(option).trigger("change");
                });
            }

            if (goodsBrand != null) {
                const brandOption = new Option(goodsBrand.goodsBrandName, goodsBrand.goodsBrandId, true, true);
                $("#slc-goods-brand").append(brandOption).trigger("change");
            }

            //input form
            const {
                goodsName,
                goodsIntro,
                goodsBrandId,
                goodsCoverImg,
                originalPrice,
                sellingPrice,
                stockNum,
                tag,
                goodsSellStatus,
                goodsDetailContent
            } = goods;
            $("#input-goods-name").val(goodsName);
            $("#input-goods-intro").val(goodsIntro);
            $("#input-goods-brand").val(goodsBrandId);
            $("#input-original-price").val(originalPrice);
            $("#input-selling-price").val(sellingPrice);
            $("#input-stock").val(stockNum);
            $("#switch-on-sale").prop("checked", goodsSellStatus);
            editor.setData(goodsDetailContent);
            if (goodsCoverImg != null && goodsCoverImg.length > 0) {
                $(".image-upload-container").hide();
                $(".image-preview-container").css({display: "flex"});
                $(".img-product").attr("src", goodsCoverImg);
                $(".btn-upload-image").hide();
            }
            tag.forEach((t) => {
                const option = new Option(t.tagName, t.goodsTagId, true, true);
                $("#slc-goods-tag").append(option);
            });
            $("#slc-goods-tag").trigger("change");
        }
    </script>
</div>
</html>