<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="general-libraries-and-styles(title, links, script)">
    <meta charset="UTF-8">
    <title th:replace="${title}">Mall</title>
    <script th:replace="~{common/libraries::bootstrap-js}"></script>
    <script th:replace="~{common/libraries::jQuery}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/js/all.min.js" integrity="sha512-rpLlll167T5LJHwp0waJCh3ZRf7pO6IT1+LZOhAyP6phAirwchClbTZV3iqL3BMrVxIYRbzGTpli4rfxsCK6Vw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script th:replace="~{common/libraries::swal}"></script>
    <script th:replace="~{common/libraries::swal-common-alert}"></script>
    <script th:src="@{/js/generalUtils.js}"></script>
    <script>
        /**
         * Global script here
         */

        //异步POST 请求失效后直接重定向
        $(document).ajaxError(function (event, xhr) {
            console.log(xhr);
            if (xhr.status === 403) {
                showAccessDeniedSwal();
            }
        });
    </script>
    <th:block th:replace="${links} ?: ~{}"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" th:replace="~{common/libraries::bootstrap-css}">
    <link rel="stylesheet" th:href="@{/styles/admin/all.css}">
    <link rel="stylesheet" th:href="@{/styles/admin/sidebar.css}">
    <link rel="stylesheet" th:href="@{/styles/admin/modal.css}">
    <th:block th:replace="${script} ?: ~{}"/>
</head>
<body>

<div th:fragment="datatable">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs5/dt-1.13.2/datatables.min.css"/>
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs5/dt-1.13.2/datatables.min.js"></script>
    <script>
        $.fn.dataTable.ext.errMode = "throw";
    </script>
    <th:block th:switch="__${#locale.toString()}__">
        <th:block th:case="zh_CN">
            <script th:replace="~{common/datatable-locale::zh_CN}"></script>
        </th:block>
        <th:block th:case="es_ES">
            <script th:replace="~{common/datatable-locale::es_ES}"></script>
        </th:block>
        <th:block th:case="en_US">
            <script th:replace="~{common/datatable-locale::en_US}"></script>
        </th:block>
    </th:block>
</div>

<div th:fragment="cropper">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.13/cropper.min.js" integrity="sha512-6lplKUSl86rUVprDIjiW8DuOniNX8UDoRATqZSds/7t6zCQZfaCe3e5zcGaQwxa8Kpn5RTM9Fvl3X2lLV4grPQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.13/cropper.min.css" integrity="sha512-cyzxRvewl+FOKTtpBzYjW6x6IAYUCZy3sGP40hn+DQkqeluGRCax7qztK2ImL64SA+C7kVWdLI6wvdlStawhyw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</div>

<div th:fragment="CKEditor">
    <script src="https://cdn.ckeditor.com/ckeditor5/36.0.1/classic/ckeditor.js"></script>
    <link rel="stylesheet" th:href="@{/styles/admin/CKEditor.css}">
</div>

<div th:fragment="select2">
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script th:src="@{/js/select2-locale.js}"></script>
    <link rel="stylesheet" th:href="@{/styles/admin/select2.css}">
</div>

</body>
</html>