<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="general-libraries-and-styles(title, links, script)">
    <meta charset="UTF-8">
    <title th:replace="${title}">Mall</title>
    <link rel="stylesheet" th:replace="~{common/libraries::fontawsome-css}">
    <link rel="stylesheet" th:replace="~{common/libraries::bootstrap-css}">
    <link rel="stylesheet" th:href="@{/styles/admin/all.css}">
    <link rel="stylesheet" th:href="@{/styles/admin/sidebar.css}">
    <link rel="stylesheet" th:href="@{/styles/common/modal.css}">
    <th:block th:replace="${links} ?: ~{}"/>
    <script th:replace="~{common/libraries::bootstrap-js}"></script>
    <script th:replace="~{common/libraries::jQuery}"></script>
    <script th:replace="~{common/libraries::fontawsome-js}"></script>
    <script th:replace="~{common/libraries::swal}"></script>
    <script th:replace="~{common/libraries::swal-common-alert}"></script>
    <script th:src="@{/js/generalUtils.js}"></script>
    <script>
        /**
         * Global script here
         */

        //异步POST 请求失效后直接重定向
        $(document).ajaxError(function (event, xhr) {
            console.log(xhr);
            if (xhr.status === 403) {
                showAccessDeniedSwal();
            }
        });
    </script>
    <th:block th:replace="${script} ?: ~{}"/>
</head>
<body>
</body>
</html>