<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{admin/header::general-libraries-and-styles(~{::title}, ~{::link}, ~{::head/script})}">
    <title th:text="#{new.arrivals}"></title>
    <link rel="stylesheet" href="/styles/admin/index-config.css">
    <link th:replace="~{common/libraries::datatable-css}">
    <link th:replace="~{common/libraries::select2-css}">
    <script th:replace="~{common/libraries::select2-js}"></script>
    <script th:replace="~{common/libraries::datatable-js}"></script>
    <script th:replace="~{common/libraries::datatable-locale}"></script>
</head>
<body>
<div th:replace="~{admin/sidebar::sidebar-fragment}"></div>
<div class="main">
    <div class="block">
        <div class="block-title" th:text="#{index.config}"></div>
        <div class="block-content">
            <div class="block-row">
                <div class="carousel-option">
                    <button class="button button-blue btn-show-create-index-config-modal" th:text="#{create}"></button>
                </div>
            </div>

            <div class="block-row">
                <table>
                    <thead>
                    <tr>
                        <th></th>
                        <th th:text="#{config.name}"></th>
                        <th th:text="#{rank.order}"></th>
                        <th th:text="#{goods.id}"></th>
                        <th th:text="#{create.date}"></th>
                        <th></th>
                    </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-index-config">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" th:text="#{index.config}"></h5>
                <span class="close-btn-dot" data-bs-dismiss="modal" data-backdrop="false"></span>
            </div>
            <div class="modal-body">
                <div class="image-container">
                    <label th:text="#{config.name}"></label>
                    <input class="form-control form-control-sm input-index-config-name" autocomplete="off">
                    <div class="row">
                        <div class="col-10">
                            <label th:text="#{goods.id}"></label>
                            <select class="select2 slc-goods"></select>
                        </div>
                        <div class="col-2">
                            <label th:text="#{rank.order}"></label>
                            <input class="form-control form-control-sm input-order" type="number">
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="button" data-bs-dismiss="modal" th:text="#{close}"></button>
                <button type="button" class="button button-blue btn-create-index-config" th:text="#{create}"/>
                <button type="button" class="button button-blue btn-update-index-config" th:text="#{save}"/>
            </div>
        </div>
    </div>
</div>

<script>
    function detectSidebarOption() {
        const configType = getConfigType();
        let optionDiv;
        switch (configType) {
            case 3:
                optionDiv = $(".sidebar-option.best-selling");
                break;
            case 4:
                optionDiv = $(".sidebar-option.new-arrivals");
                break;
            case 5:
                optionDiv = $(".sidebar-option.recommend");
                break;
        }
        sidebarSetSelected(optionDiv);
    }

    detectSidebarOption();

    const indexConfigModal = new bootstrap.Modal(document.getElementById("modal-index-config"));

    $(document).ready(() => {
        initDataTable();
        initSelect2();
        initListener();
    });

    function initSelect2() {
        $(".slc-goods").select2({
            width: "100%",
            language: "es",
            placeholder: " ",
            minimumInputLength: 3,
            dropdownParent: $("#modal-index-config"),
            ajax: {
                url: "/admin/goods/search",
                method: "POST",
                data: (params) => {
                    return {goodsName: params.term}
                },
                processResults: (response) => {
                    if (response.code === 200) {
                        const options = response.data.map((g) => ({id: g.goodsId, text: g.goodsName}));
                        return {results: options};
                    } else {
                        return {results: []};
                    }
                },
            }
        });

        $(".select2").on("select2:open", () => {
            document.querySelector('.select2-search__field').focus();
        });
    }

    function initListener() {
        bindCreateModalEvent();
    }

    function bindCreateModalEvent() {
        $(".btn-show-create-index-config-modal").click(() => showCreateIndexConfigModal());
        $(".btn-create-index-config").click(() => createIndexConfig());
        $(".btn-update-index-config").click(() => updateIndexConfig());
        $("#modal-index-config").on("hidden.bs.modal", () => {
            $("#modal-index-config").removeAttr("index-config-id");
            $("#modal-index-config input").val(null);
            $(".slc-goods").val(null).trigger("change");
            $(".is-invalid").removeClass(".is-invalid");
        });
    }

    function updateIndexConfig() {
        const data = collectFormData();
        data.id = $("#modal-index-config").attr("index-config-id");
        data.configType = getConfigType();
        if (!isValidIndexConfig(data)) {
            return;
        }

        $.ajax({
            url: "/admin/index-config/update",
            method: "POST",
            contentType: "application/json",
            data: JSON.stringify(data),
            success: (res) => {
                console.log(res);
                if (res.code === 200) {
                    showChangeSavedSwal();
                    indexConfigModal.hide();
                    table.draw();
                } else {
                    Swal.fire({
                        title: res.message,
                        icon: "error",
                        showConfirmButton: true
                    });
                }
            },
            error: () => {
                showServerErrorSwal();
            }
        });
    }

    function isValidIndexConfig(data) {
        let isValid = true;
        const {configName, goodsId, configRank} = data;

        if (configName.length === 0) {
            isValid = false;
            $(".input-index-config-name").setInvalid();
        }

        if (goodsId.length === 0 || !Validator.isInteger(goodsId)) {
            isValid = false;
            $(".slc-goods").next().setInvalid();
        }

        if (configRank.length === 0 || !Validator.isInteger(configRank) || configRank < 0) {
            isValid = false;
            $(".input-order").setInvalid();
        }

        return isValid;
    }

    function createIndexConfig() {
        const data = collectFormData();
        data.configType = getConfigType();
        if (!isValidIndexConfig(data)) {
            return;
        }

        $.ajax({
            url: "/admin/index-config/create",
            method: "POST",
            contentType: "application/json",
            data: JSON.stringify(data),
            success: (res) => {
                if (res.code === 200) {
                    showCreateSuccessSwal();
                    indexConfigModal.hide();
                    table.draw();
                } else {
                    Swal.fire({
                        title: res.message,
                        icon: "error",
                        showConfirmButton: true,
                    });
                }
            },
            error: () => showServerErrorSwal()
        });
    }

    function collectFormData() {
        const data = {};
        data.configName = $(".input-index-config-name").val();
        data.goodsId = parseInt($(".slc-goods").val());
        data.configRank = parseInt($(".input-order").val());
        data.configType = getConfigType();
        return data;
    }

    function initDataTable() {
        table = $("table").DataTable({
            autoWidth: false,
            processing: true,
            serverSide: true,
            searching: false,
            language: dataTableLocale,
            ajax: {
                url: "/admin/index-config/list",
                type: "POST",
                contentType: "application/json",
                data: (requestData) => {
                    requestData.configType = getConfigType();
                    return JSON.stringify(requestData);
                },
                dataFilter: (response) => {
                    response = JSON.parse(response);
                    const data = {}
                    if (response.code === 200) {
                        data.recordsTotal = response.data.recordsTotal;
                        data.recordsFiltered = response.data.recordsTotal;
                        data.data = response.data.list;
                    }
                    return JSON.stringify(data);
                }
            },
            columns: [
                {
                    visible: false,
                    data: "indexConfigId",
                    orderable: false
                },
                {
                    data: "configName",
                    orderable: false
                },
                {
                    data: "configRank",
                    orderable: false
                },
                {
                    data: "goodsId",
                    orderable: false
                },
                {
                    data: "createTime",
                    orderable: false,
                },
                {
                    data: "id",
                    render: () => {
                        return '<button class="button button-red btn-delete-index-config"><i class="fa-solid fa-trash-can"></i></button>';
                    },
                    orderable: false,
                    width: 1,
                    className: "td-function"
                }
            ],
            createdRow: (row, indexConfig) => {
                $(row).click((e) => {
                    const target = $(e.target);
                    if (!target.closest("td").hasClass("td-function")) {
                        showUpdateIndexConfigModal(indexConfig);
                    }
                });

                $(row).find(".btn-delete-index-config").click(() => {
                    showConfirmDeleteSwal(indexConfig.indexConfigId);
                });
            }
        });
    }

    function getConfigType() {
        const urlParams = new URLSearchParams(window.location.search);
        return parseInt(urlParams.get("configType"));
    }

    function showUpdateIndexConfigModal(indexConfig) {
        const {configName, goodsId, configRank, indexConfigId, goodsName} = indexConfig;
        $(".input-index-config-name").val(configName);
        $(".input-goods-id").val(goodsId);
        $(".input-order").val(configRank);
        $("#modal-index-config").attr("index-config-id", indexConfigId);
        $(".btn-create-index-config").hide();
        $(".btn-update-index-config").show();
        const option = new Option(goodsName, goodsId, true, true);
        $(".slc-goods").append(option).trigger('change');
        indexConfigModal.show();
    }

    function showCreateIndexConfigModal() {
        $(".btn-create-index-config").show();
        $(".btn-update-index-config").hide();
        indexConfigModal.show();
    }

    function showConfirmDeleteSwal(id) {
        Swal.fire({
            title: "[[#{confirm.delete}]]",
            icon: "warning",
            showConfirmButton: true,
            showDenyButton: true,
            reverseButtons: true,
            position: "top",
        }).then((response) => {
            if (response.isConfirmed) {
                deleteIndexConfig(id);
            }
        });
    }

    function deleteIndexConfig(id) {
        $.ajax({
            url: "/admin/index-config/delete",
            method: "POST",
            data: JSON.stringify([id]),
            contentType: "application/json",
            success: (res) => {
                if (res.code === 200) {
                    showDeleteSuccessSwal();
                    table.draw();
                } else {
                    Swal.fire({
                        title: res.message,
                        icon: "error",
                        showConfirmButton: true,
                        showDenyButton: false,
                        position: "top"
                    });
                }
            },
            error: () => showServerErrorSwal()
        });
    }
</script>
</body>
</html>