<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin/header::general-libraries-and-styles(~{::title}, ~{::link}, ~{::head/script})">
    <title th:text="#{new.arrivals}"></title>
</head>
<body>
<div th:replace="admin/sidebar::sidebar-fragment"></div>
<div class="main">
    <div class="block">
        <div class="block-title" th:text="#{carousel.setting}"></div>
        <div class="block-content">
            <div class="block-row row">
                <div class="carousel-option">
                    <button class="button button-blue" th:text="#{add}" onclick="showAddCarouselModal()"></button>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    sidebarSetSelected($(".sidebar-option.new-arrivals"));
</script>
</body>
</html>