<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<body th:fragment="sidebar-fragment">
    <div th:replace="admin/user-setting-modal::user-settings-modal"></div>
    <div class="sidebar no-text-select">
        <div class="logo-content no-text-select">
            <div class="logo text-center">
                <img src="/assets/img/poi_128x128.png" alt="mall logo">
            </div>
            <span class="logo-name">POI商城</span>
        </div>
        <div class="sidebar-option-list no-text-select">
            <div class="sidebar-option" option-selected="true">
                <a href="#">
                    <i class="fa-solid fa-chart-line"></i>
                    <span class="sidebar-option-text" th:text="#{dashboard}"></span>
                </a>
            </div>

            <div class="sidebar-option">
                <a href="#">
                    <i class="fa-solid fa-tag"></i>
                    <span class="sidebar-option-text" th:text="#{product_categories}"></span>
                </a>
            </div>

            <div class="sidebar-option">
                <a href="#">
                    <i class="fa-solid fa-circle-question"></i>
                    <span class="sidebar-option-text">OPTION</span>
                </a>
            </div>

            <div class="sidebar-option">
                <a href="#">
                    <span class="sidebar-option-svg"><i class="fa-solid fa-circle-question"></i></span>
                    <span class="sidebar-option-text">OPTION</span>
                </a>
            </div>
        </div>
    </div>
    <div class="navbar">
        <div class="navbar-left-content">
            <div class="sidebar-toggle">
                <i class="fa-solid fa-bars fa-xl"></i>
            </div>
        </div>
        <div class="navbar-right-content">
            <div class="navbar-option-list no-text-select">
                <div class="navbar-option dropdown-list">
                    <div class="navbar-option-text">
                        <span th:text="#{user_language}"></span>
                        <span>
                            <i class="fa-solid fa-earth-europe"></i>
                        </span>
                    </div>
                    <div class="dropdown-content">
                        <div class="dropdown-option" onclick="location.href='?lang=zh_CN'">
                            <span><img src="/assets/img/1f1e8-1f1f3.png" alt="chinese" class="user-language-flag"></span>
                            <span>简体中文</span>
                        </div>
                        <div class="dropdown-option" onclick="location.href='?lang=es_ES'">
                            <span><img src="/assets/img/1f1ea-1f1f8.png" alt="spanish" class="user-language-flag"></span>
                            <span>español</span>
                        </div>
                        <div class="dropdown-option" onclick="location.href='?lang=en_US'">
                            <span><img src="/assets/img/1f1fa-1f1f8.png" alt="english" class="user-language-flag"></span>
                            <span>english</span>
                        </div>
                    </div>
                </div>
                <div class="navbar-option dropdown-list">
                    <div class="navbar-option-text">
                        <span th:text="#{user}"></span>
                    </div>
                    <div class="dropdown-content user-dropdown">
                        <div class="dropdown-option" data-bs-toggle="modal" data-bs-target="#user-settings-modal" th:text="#{settings}"></div>
                        <div class="dropdown-option">test option</div>
                        <div class="dropdown-option">large test option</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function () {
            initListener();
        });

        function initListener() {
            sidebarToggleListener();
            sidebarOptionListener();
        }

        function sidebarToggleListener() {
            let toggle = () => {
                $(".sidebar-option-text").toggle();
                $(".logo-name").toggle();
            };

            $(".sidebar-toggle").click(function () {
                let sidebar = $(".sidebar");
                sidebar.toggleClass("minimized");
                if (sidebar.hasClass("minimized")) {
                    toggle();
                } else {
                    setTimeout(toggle, 200);
                }
            });
        }

        function sidebarOptionListener() {
            $(".sidebar-option").click(function () {
                console.log($(this));
                if ($(this).attr("option-selected") !== "true") {
                    $(".sidebar-option[option-selected=true]").removeAttr("option-selected");
                    $(this).attr("option-selected", true);
                }
            });
        }
    </script>
</body>
</html>