.no-text-select {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}

body {
    font-family: sans-serif;
    min-width: 941px;
}

.main {
    margin-left: 240px;
    transition-duration: 0.4s;
}

.sidebar.minimized ~ .main {
    margin-left: 72px;
    transition-duration: 0.4s;
}

div.is-invalid {
    border-color: #c64b3b;
}

.button {
    font-weight: 800;
    border-radius: 4px;
    font-size: 12px;
    background-color: #c6c6c6;
    color: #3d3d3d;
    padding: 2px 12px;
    border: none;
    cursor: pointer;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}

.button-blue {
    color: white;
    background-color: #0078ff;
}

.button-blue:hover {
    background-color: #228bff;
}

.button-blue[disabled] {
    background-color: #acc8fc;
    cursor: default;
}

.button-red {
    color: white;
    background-color: #e53b1b;
}
.button-red:hover {
    background-color: #f36042;
}


.button-gray {
    background-color: #b4b4b4;
    color: white;
}

.form-control:focus {
    border-color: #86b7fe;
    box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%);
}

.dropdown-content {
    padding: 3px 8px;
    display: none;
    position: absolute;
    left: inherit;
    color: black;
    border-radius: 5px;
    background-color: rgba(240, 240, 240, 82%);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    box-shadow: 0 0 5px 0 rgba(180, 180, 180, 0.8);
}

.dropdown-list:hover .dropdown-content {
    display: block;
}

.dropdown-option {
    font-size: 14px;
    border-radius: 5px;
    padding: 0 12px;
    margin: 2px 0;
}

.dropdown-option:hover {
    background-color: #0078ff;
    color: white;
}

a {
    color: black;
    font-weight: 400;
    text-decoration: none;
    cursor: default;
}

.main {
    display: flex;
    justify-content: center;
    padding: 15px 20px;
}

.block {
    width: 850px;
    min-width: 670px;
    padding: 20px 20px;
    box-shadow: 0 0 5px 0 rgba(180, 180, 180, 0.8);
    border-radius: 15px;
}

.block-title {
    margin: 15px 0;
    display: inline-block;
    font-weight: lighter;
    font-size: 28px;
}

.block-content {
    font-size: 14px;
}

.text-centre {
    display: flex;
    align-items: center;
    justify-content: center;
}

.text-centre-right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.block-row {
    padding: 5px 0;
    margin: 10px 0;
}

.block-row.hover {
    border-radius: 10px;
}

.block-row.hover:hover {
    background-color: #e8e8e8;
}

.modal label {
    font-size: 14px;
}

.fa-check {
    color: #5ac659;
}

.fa-xmark {
    color: #c64b3b;
}

/* DataTable style*/
table {
    border-spacing: 0 10px;
    border-radius: 5px;
    overflow: hidden;
    width: 100%;
}

table img {
    border-radius: 8px;
}

tr {
    padding: 0 20px;
    margin: 5px 0;
}

tr:hover {
    background-color: #e1edff !important;
}

tr:hover td:first-child{
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
}

tr:hover td:last-child{
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
}

thead {
    border-radius: 5px;
}

th {
    padding: 10px 0;
    background-color: #f3f3f3;
    color: #000000;
}

th, td {
    padding: 5px;
}

td {
    font-size: 13px;
}

.dataTables_length {
    float: left;
    font-size: 13px;
    margin: 5px 0;
}

.dataTables_filter {
    float: right;
    font-size: 13px;
    margin: 5px 0;
}

/* Sweet alert */

.swal2-container {
    padding: 1.75rem !important;
    backdrop-filter: blur(2px) !important;
    background-color: rgba(240, 240, 240, 0.6) !important;
}

.swal2-modal {
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0);
    -moz-box-shadow: 0 5px 15px rgba(0, 0, 0, 0);
    -o-box-shadow: 0 5px 15px rgba(0, 0, 0, 0);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0);
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 14px;
}

.swal2-styled {
    font-weight: 800;
    border-radius: 7px !important;
    font-size: 12px !important;
    background-color: #c6c6c6;
    color: #3d3d3d;
    padding: 2px 12px;
}

.swal2-actions button {
    display: block;
    width: 350px;
    padding: 5px 0;
    font-size: 16px !important;
}

.swal2-styled.swal2-confirm {
    background-color: #0078ff !important;
}

.swal2-styled.swal2-confirm:focus {
    box-shadow: 0 0 0 3px #91bdff;
}

.swal2-styled.swal2-deny {
    background-color: #b4b4b4 !important;
}

.swal2-styled.swal2-deny:focus {
    box-shadow: 0 0 0 3px rgb(198 198 198 / 50%);
}

/* select2 */
