.no-text-select {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}

body {
    font-family: sans-serif;
}

.main {
    margin-left: 240px;
    transition-duration: 0.4s;
}

.sidebar.minimized ~ .main {
    margin-left: 72px;
    transition-duration: 0.4s;
}

.button {
    font-weight: 800;
    border-radius: 4px;
    font-size: 12px;
    background-color: #c6c6c6;
    color: #3d3d3d;
    padding: 2px 12px;
    border: none;
    cursor: pointer;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}

.button-blue {
    color: white;
    background-color: #0078ff;
}

.button-blue:hover {
    background-color: #228bff;
}

.button-red {
    color: white;
    background-color: #e53b1b;
}
.button-red:hover {
    background-color: #f36042;
}


.button-gray {
    background-color: #b4b4b4;
    color: white;
}

.form-control:focus {
    border-color: #86b7fe;
    box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%);
}

.dropdown-content {
    padding: 3px 8px;
    display: none;
    position: absolute;
    left: inherit;
    color: black;
    border-radius: 5px;
    background-color: rgba(240, 240, 240, 82%);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    box-shadow: 0 0 5px 0 rgba(180, 180, 180, 0.8);
}

.dropdown-list:hover .dropdown-content {
    display: block;
}

.dropdown-option {
    font-size: 14px;
    border-radius: 5px;
    padding: 0 12px;
    margin: 2px 0;
}

.dropdown-option:hover {
    background-color: #0078ff;
    color: white;
}

a {
    color: black;
    font-weight: 400;
    text-decoration: none;
    cursor: default;
}

.main {
    display: flex;
    justify-content: center;
    padding: 15px 20px;
}

.block {
    width: 850px;
    min-width: 670px;
    padding: 20px 20px;
    box-shadow: 0 0 5px 0 rgba(180, 180, 180, 0.8);
    border-radius: 15px;
}

.block-title {
    margin-bottom: 15px;
    display: inline-block;
    font-weight: lighter;
    font-size: 24px;
}

.block-content {
    font-size: 14px;
}

.text-centre {
    display: flex;
    align-items: center;
    justify-content: center;
}

.text-centre-right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.block-row {
    padding: 5px 0;
    margin: 10px 0;
}

.block-row.hover {
    border-radius: 10px;
}

.block-row.hover:hover {
    background-color: #e8e8e8;
}

.modal label {
    font-size: 14px;
}

.fa-check {
    color: #5ac659;
}

.fa-xmark {
    color: #c64b3b;
}