.goods-options {
    margin-bottom: 10px;
}

tr {
    cursor: pointer;
}

td span.dot {
    margin: auto;
    display: block;
    height: 10px;
    width: 10px;
    border-radius: 50%;
}

td span.dot[activated="true"] {
    background-color: #5ac659;
    box-shadow: 0 0 1px 1px #5ac569 ;
}

td span.dot[activated="false"] {
    background-color: #f35858;
    box-shadow: 0 0 1px 1px #f35858;
}