.background {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-image: linear-gradient(180deg, rgba(var(--bs-body-bg-rgb), 0.01), rgba(var(--bs-body-bg-rgb), 1) 100%),
    radial-gradient(ellipse at top left, rgba(var(--bs-primary-rgb), 0.5), transparent 50%),
    radial-gradient(ellipse at top right, rgba(255, 228, 132, 0.5), transparent 50%),
    radial-gradient(ellipse at bottom right, rgba(112.520718, 44.062154, 249.437846, 0.5), transparent 50%),
    radial-gradient(ellipse at bottom left, rgba(214, 51, 132, 0.5), transparent 50%);
    z-index: -1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-panel-content {
    padding: 10px 20px;
}

.login-panel {
    width: 400px;
    background-color: #ffffff;
    border-radius: 15px;
    -webkit-box-shadow: 0 0 10px 0 rgba(210, 210, 210,0.8);
    -moz-box-shadow: 0 0 10px 0 rgba(210, 210, 210,0.8);
    box-shadow: 0 0 10px 0 rgba(210, 210, 210,0.8);
}

.login-panel-header {
    margin-top: 20px;
    font-size: 24px;
    font-weight: 800;
}

.login-panel-header img {
    height: 128px;
    width: 128px;
}

.login-panel-body {
    padding: 20px 0;
    transition: all 0.3s linear;
}

.login-panel-footer {
    padding: 20px 0;
}

.button-login {
    cursor: pointer;
    font-weight: 800;
    border-radius: 7px;
    width: 100%;
    border: none;
    background-color: #0078ff;
    color: white;
    padding: 6px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-login[disabled] {
    background-color: #afd6ff;
}

.button-login[disabled]:hover {
    cursor: default;
}

.spinner-border {
    width: 16px;
    height: 16px;
}

.login-alert {
    padding: 6px;
    display: none;
}

.language-option {
    display: flex;
    justify-content: right;
}

.login-panel-header .dropdown-list {
    background-color: #e6e6e6;
    border-radius: 5px;
    cursor: default;
    font-size: 14px;
}

.login-panel-header .dropdown-list img {
    height: 12px;
    width: 12px;
}

.dropdown-label {
    padding: 2px 8px;
}

.dropdown-option {
    font-weight: 400;
    padding: 1px 8px;
}

.dropdown-content {
    padding: 1px 8px;
}