.select2-selection__rendered {
    line-height: 31px !important;
}
.select2-container .select2-selection--single {
    height: 35px !important;
}
.select2-selection__arrow {
    height: 34px !important;
}

.select2-results__option,
.select2-search__field {
    font-size: 13px;
}

.select2-container.is-invalid .select2-selection {
    border-color: #dc3545;
    background-repeat: no-repeat;
    background-position: right calc(1.5em) center;
    background-size: calc(.75em + .375rem) calc(.75em + .375rem);
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12' width='12' height='12' fill='none' stroke='%23dc3545'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3e%3c/svg%3e");
}

.select2-container.is-invalid .select2-selection--multiple {
    background-position: right calc(.375em + .1875rem) center;
}