.sidebar-option-list {
    border-bottom: #b4b4b4 2px solid;
    list-style-type: none;
    margin: 0 13px 10px 13px;
    padding: 20px 0;
}

.sidebar-option-list:first-child {
    padding: 0 0 20px 0;
}

.sidebar-option-list:last-child {
    border-bottom: none;
}

.sidebar-option-list-title {
    color: #7e7e7e;
    font-weight: bold;
}

.sidebar-toggle {
    cursor: default;
    border-radius: 5px;
    margin: 0 24px;
    padding: 2px 12px;
}

.sidebar-toggle:hover {
    background-color: #d9d9d9;
}

.sidebar-container {
    position: relative;
    min-height: 100vh;
    overflow: hidden;
    width: 100%;
}

.sidebar {
    border-right: 1px solid #e6e6e6;
    transition: all 0.4s;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    width: 240px;
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
    display: inline-block;
    z-index: 2;
}

.sidebar, .navbar {
    background-color: white;
}

.sidebar-search-container {
    margin: 10px 5px;
}

.sidebar-option {
    min-width: 46px;
    border-radius: 5px;
    position: relative;
    height: 30px;
    list-style: none;
    line-height: 30px;
    display: block;
    padding: 0 15px;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
    margin: 2px 0;
}

.sidebar-option-list a {
    color: black;
    font-weight: 400;
    text-decoration: none;
    cursor: default;
}

.sidebar-option-text {
    margin-left: 10px;
}

.sidebar-option:hover {
    background-color: #e6e6e6;
    color: black;
}

.sidebar-option a:hover {
    color: black;
}

.sidebar-option[option-selected="true"] {
    background-color: #0078ff;
}

.sidebar-option[option-selected="true"] {
    background-color: #0078ff;
    color: white;
}

.sidebar-search-container input:focus {
    outline: none;
}

.sidebar-search-container input {
    border: none;
    border-radius: 5px;
    padding: 5px 15px;
    background-color: rgb(225, 220, 220, 100%);
    width: 100%;
}

.sidebar.minimized {
    width: 80px;
    transition: all 0.4s;
}

.sidebar.minimized {
    width: 72px;
    transition: all 0.4s;
}

.sidebar.minimized ~ .navbar{
    padding-left: 80px;
}

/* navbar */
.navbar {
    z-index: 1;
    height: 35px;
    position: relative;
    top: 0;
    left: 0;
    padding: 0 0 0 240px;
    border-bottom: 1px solid #e6e6e6;
    background-color: #f3f3f3;
    transition-duration: 0.4s;
}

.navbar-option {
    font-size: 14px;
    display: inline-block;
    border-radius: 5px;
}

.navbar-option-text {
    font-weight: 800;
    padding: 0 12px;
    margin: 0 2px;
}

.navbar-option:hover {
    background-color: #d9d9d9;
}

.navbar-right-content {
    margin-right: 12px;
}

.logo-content {
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar .logo-content .logo{
    display: flex;
    align-items: center;
}

.logo img {
    height: 32px;
    width: 32px;
}

.logo-name {
    margin-left: 4px;
    font-size: 22px;
    font-weight: 800;
}

.user-language-flag {
    height: 22px;
    width: 22px;
}