<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="footer">
    <link rel="stylesheet" href="/styles/mall/footer.css">
    <footer>
        <div class="footer">
            <div class="footer-divider"></div>
            <div class="footer-options-container">
                <div class="footer-option">
                    <a href="/">Término de uso</a>
                </div>
                <div class="footer-option-separator"></div>
                <div class="footer-option">
                    <a href="/">Política de privacidad</a>
                </div>
                <div class="footer-option-separator"></div>
                <div class="footer-option">
                    <a href="/">Publicidad y marketing</a>
                </div>
            </div>
        </div>
    </footer>
</div>
</html>