<!DOCTYPE html>
<!--suppress JSJQueryEfficiency -->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{mall/header::general-libraries-and-styles(~{::title}, ~{::link}, ~{this::head/script})}">
    <meta charset="UTF-8">
    <title>Mall</title>
    <link th:replace="~{common/libraries::swiper-css}"/>
    <link rel="stylesheet" href="/styles/mall/all.css"/>
    <link rel="stylesheet" href="/styles/mall/login.css"/>
    <script th:replace="~{common/libraries::swiper-js}"></script>
</head>
<body>
<div class="login-body">
    <div class="background">
        <div class="login-panel">
            <div class="login-panel-header">
                <div class="d-flex justify-content-between">
                    <button class="button button-purple button-back-to-login"><i class="fa-solid fa-arrow-left"></i></button>
                    <button class="button button-purple-light button-sign-up">Crear cuenta</button>
                </div>
                <div class="logo">
                    <img src="/assets/img/poi.png" alt="mall icon">
                </div>
            </div>
            <div class="login-panel-body">
                <form class="need-validation">
                    <input class="form-control input-email" placeholder="E-mail" id="input-email">
                    <div class="invalid-feedback"></div>
                    <button class="button button-xl button-purple button-reset-password" type="submit">Cambiar contraseña</button>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(() => {
        initListener();
    });

    function initListener() {
        bindSignUpOptionEvent();
        bindBackToLinkEvent();
        bindForgotPasswordEvent();
    }

    function bindForgotPasswordEvent() {
        $("form").submit((e) => {
            e.preventDefault();
            sendForgotPasswordRequest();
        });
    }

    function bindBackToLinkEvent() {
        $(".button-back-to-login").click(() => window.location.replace("/login"));
    }

    function bindSignUpOptionEvent() {
        $(".button-sign-up").click(() => window.location.href = getBaseUrl() + '/signup');
    }

    function sendForgotPasswordRequest() {
        if (checkEmailValidity() === false) {
            return;
        }
        const inputEmail = $(".input-email");
        const email = inputEmail.val();
        const btn = $(".button-reset-password");
        btn.addSpinner();
        $.ajax({
            url: "/user/forgot-password",
            method: "POST",
            data: {email: email},
            success: (res) => {
                btn.removeSpinner();
                switch (res.code) {
                    case 200:
                        Swal.fire({
                            title: "Te hemos enviado un correo con instrucciones para recuperar tu contraseña",
                            text: " ",
                            icon: "success",
                            showConfirmButton: true
                        }).then(() => {
                            console.log("true");
                            window.location.replace("/login");
                        });
                        break;
                    case 403:
                        inputEmail.setInvalid();
                        $(".invalid-feedback").text("La cuenta no está activada, por favor, completa el proceso de activación.");
                        break;
                    case 404:
                        inputEmail.setInvalid();
                        $(".invalid-feedback").text("Este e-mail no está registrado");
                        break;
                }
            },
        })
    }

    function checkEmailValidity() {
        const input = $(".input-email");
        const email = input.val();

        const regEx = new RegExp("^[\\w-.]+@([\\w-]+\\.)+[\\w-]{2,4}$");
        if (!regEx.test(email)) {
            showInvalidEmailAlert();
            return false;
        }

        input.setValid();
        return true;
    }

    function showInvalidEmailAlert() {
        $(".input-email").setInvalid();
        $(".invalid-feedback").text("formato de e-mail es inválido");
    }
</script>
</body>
</html>