<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{mall/header::general-libraries-and-styles(~{::title}, ~{::link}, ~{this::head/script})}">
    <meta charset="UTF-8">
    <title>Mall</title>
    <link th:replace="~{common/libraries::swiper-css}">
    <script th:replace="~{common/libraries::swiper-js}"></script>
    <link rel="stylesheet" href="/styles/mall/all.css"/>
    <link rel="stylesheet" href="/styles/mall/index.css"/>
</head>
<body>
<nav th:replace="~{mall/navbar::navbar}"></nav>
<main>
    <div class="floor ">
        <div class="first-screen">
            <div class="category-menu">
                <th:block th:each="l1category : ${categories}">
                    <div class="category-level1 category-option" th:attr="category-id=${l1category.getCategoryId()}">
                        <span th:text="${l1category.getCategoryName()}"></span>
                    </div>
                </th:block>
                <div class="category-sub-menu-container">
                    <div class="category-sub-menu">
                        <!-- rendering in javascript -->
                    </div>
                </div>
            </div>
            <div class="swiper carousel">
                <div class="swiper-wrapper">
                    <th:block th:each="carousel : ${carousels}">
                        <div class="swiper-slide">
                            <a th:href="'/goods/detail/' + ${carousel.getGoodsId()}">
                                <img th:src="${baseUrl} + ${carousel.getCarouselUrl()}" alt="carousel image">
                            </a>
                        </div>
                    </th:block>
                </div>
                <!-- Pagination -->
                <div class="swiper-pagination carousel-pagination"></div>
                <!-- navigation buttons -->
                <div class="swiper-button-prev carousel-button-prev"></div>
                <div class="swiper-button-next carousel-button-next"></div>
                <!-- scrollbar -->
                <div class="swiper-scrollbar carousel-scrollbar"></div>
            </div>
        </div>
    </div>

    <!-- best-selling -->
    <div class="floor">
        <div class="row">
            <div class="col-2">
                <div class="floor-left-title">
                    Más Vendidos
                </div>
            </div>
            <div class="col-10">
                <div class="best-selling-container">
                    <div class="swiper swiper-best-selling">
                        <div class="swiper-wrapper">
                            <th:block th:unless="${#lists.isEmpty(bestSelling)}">
                                <th:block th:each="product : ${bestSelling}">
                                    <div class="swiper-slide">
                                        <a th:href="${'/goods/detail/' + product.getGoodsId()}">
                                            <div class="product-container">
                                                <div class="product-image-container">
                                                    <img th:src="${product.getGoodsCoverImg()}" alt="product image">
                                                </div>
                                                <div class="product-name" th:text="${product.getGoodsName()}"></div>
                                                <div class="product-price" th:text="${product.getEuroFormatPrice()}"></div>
                                            </div>
                                        </a>
                                    </div>
                                </th:block>
                            </th:block>
                        </div>
                        <!-- navigation buttons -->
                        <div class="swiper-button-prev best-selling-prev"></div>
                        <div class="swiper-button-next best-selling-next"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- new arrival -->
    <div class="floor floor-dark">
        <div class="new-arrival-container">
            <div class="floor-top-title">Novedades</div>
            <div class="swiper swiper-new-arrival">
                <div class="swiper-wrapper">
                    <th:block th:unless="${#lists.isEmpty(newArrivals)}">
                        <th:block th:each="product : ${newArrivals}">
                            <div class="swiper-slide">
                                <a th:href="${'/goods/detail/' + product.getGoodsId()}">
                                    <div class="product-container">
                                        <div class="product-image-container">
                                            <img th:src="${product.getGoodsCoverImg()}" alt="product image">
                                        </div>
                                        <div class="product-name" th:text="${product.getGoodsName()}"></div>
                                        <div class="product-price" th:text="${product.getEuroFormatPrice()}"></div>
                                    </div>
                                </a>
                            </div>
                        </th:block>
                    </th:block>
                </div>
                <!-- navigation buttons -->
                <div class="swiper-button-prev new-arrival-prev"></div>
                <div class="swiper-button-next new-arrival-next"></div>
            </div>
        </div>
    </div>

    <!-- recommend for you -->
    <div class="floor">
        <div class="row">
            <div class="col-2">
                <div class="floor-left-title">
                    En Tendencia
                </div>
            </div>
            <div class="col-10">
                <div class="best-selling-container">
                    <div class="swiper swiper-best-selling">
                        <div class="swiper-wrapper">
                            <th:block th:unless="${#lists.isEmpty(recommend)}">
                                <th:block th:each="product : ${recommend}">
                                    <div class="swiper-slide">
                                        <a th:href="${'/goods/detail/' + product.getGoodsId()}">
                                            <div class="product-container">
                                                <div class="product-image-container">
                                                    <img th:src="${product.getGoodsCoverImg()}" alt="product image">
                                                </div>
                                                <div class="product-name" th:text="${product.getGoodsName()}"></div>
                                                <div class="product-price" th:text="${product.getEuroFormatPrice()}"></div>
                                            </div>
                                        </a>
                                    </div>
                                </th:block>
                            </th:block>
                        </div>
                        <!-- navigation buttons -->
                        <div class="swiper-button-prev best-selling-prev"></div>
                        <div class="swiper-button-next best-selling-next"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<footer th:replace="~{mall/footer::footer}"></footer>
<script th:inline="javascript">
    const categories = getCategoriesMap();
    const swiper = new Swiper(".carousel", {
        direction: "horizontal",
        loop: true,
        autoplay: {
            delay: 5000
        },
        pagination: {el: ".carousel-pagination"},
        navigation: {
            nextEl: '.carousel-button-next',
            prevEl: '.carousel-button-prev',
        },
        scrollbar: {el: ".carousel-scrollbar"},

    });

    const swiperBestSelling = new Swiper(".swiper-best-selling", {
        direction: "horizontal",
        slidesPerView: "5",
        loop: true,
        navigation: {
            nextEl: '.best-selling-next',
            prevEl: '.best-selling-prev',
        },
        spaceBetween: 35,
    });

    const swiperNewArrival = new Swiper(".swiper-new-arrival", {
        direction: "horizontal",
        slidesPerView: 5,
        loop: true,
        navigation: {
            nextEl: '.new-arrival-next',
            prevEl: '.new-arrival-prev',
        },
        spaceBetween: 30
    });

    let mouseInCategoryOption = false;
    let mouseInSubMenu = false;

    $(document).ready(() => {
        bindCategoryOptionsEvent();
        bindSubMenuEvent();
    });

    function bindCategoryOptionsEvent() {
        const categoryL1Dom = $(".category-level1");
        categoryL1Dom.mouseenter((event) => {
            const id = parseInt($(event.target).attr("category-id"));
            const category = categories.get(id);
            if (category == null)
                return;
            prepareSubMenu(category);
        });

        categoryL1Dom.mouseleave(() => {
            mouseInCategoryOption = false;
        });

        $(".category-option").click((e) => {
            const categoryId = $(e.target).closest(".category-option").attr("category-id");
            openSearchByCategoryPage(categoryId);
        });
    }

    function openSearchByCategoryPage(id) {
        const url = getCurrentUrl();
        window.location.href = url + "category/" + id;
    }

    function bindSubMenuEvent() {
        const subMenu = $(".category-sub-menu");
        subMenu.mouseenter(() => {
            mouseInSubMenu = true;
        });

        subMenu.mouseleave(() => {
            mouseInSubMenu = false;
        });
    }

    function prepareSubMenu(l1category) {
        const subMenu = $(".category-sub-menu");
        const l2categories = l1category.children === null ? [] : l1category.children;
        subMenu.empty();
        subMenu.attr("parent-id", l1category.categoryId);
        calcSubMenuPosition();
        calcSubMenuSize();
        for (let i = 0; i < l2categories.length; i++) {
            const l2category = l2categories[i];
            const l2id = l2category.categoryId;
            const l2name = l2category.categoryName;
            const l2DOM = jQuery.parseHTML(
                '<div class="category-level2">' +
                    '<div class="category-level2-name category-option" category-id=' + l2id + '>' + l2name + '</div>' +
                '</div>');
            const l3categories = l2category.children === null ? [] : l2category.children;
            for (let j = 0; j < l3categories.length; j++) {
                const l3category = l3categories[j];
                const l3id = l3category.categoryId;
                const l3name = l3category.categoryName;
                const l3DOM = jQuery.parseHTML('<div class="category-level3 category-option" category-id=' + l3id + '>' + l3name + '</div>');
                $(l2DOM).append(l3DOM);
            }
            $(l2DOM).find(".category-option").click((e) => {
                const categoryId = e.target.getAttribute("category-id");
                openSearchByCategoryPage(categoryId);
            })
            subMenu.append(l2DOM);
        }
    }

    function calcSubMenuSize() {
        const categoryMenu = $(".category-menu");
        const menuHeight = categoryMenu.height();
        $(".category-sub-menu").height(menuHeight - 10); //10 = padding
    }

    function calcSubMenuPosition() {
        const category = $(".category-level1");
        const width = category.outerWidth();
        const {left} = category.position();
        const {top} = $(".swiper").position();
        $(".category-sub-menu-container").css({top: top, left: left + width - 20});
    }

    function getCategoriesMap() {
        const categories = [[${categories}]];
        const result = new Map();
        for (let i = 0; i < categories.length; i++) {
            const category = categories[i];
            result.set(category.categoryId, category);
        }
        return result;
    }
</script>
</body>
</html>