<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{mall/header::general-libraries-and-styles(~{::title}, ~{::link}, ~{this::head/script})}">
    <meta charset="UTF-8">
    <title>Mall</title>
    <link th:replace="~{common/libraries::swiper-css}"/>
    <link rel="stylesheet" href="/styles/mall/all.css"/>
    <link rel="stylesheet" href="/styles/mall/login.css"/>
    <script th:replace="~{common/libraries::swiper-js}"></script>
</head>
<body>
<div class="logo">
    <img src="/assets/img/poi.png" alt="mall icon">
</div>
<div class="login-body">
    <form>
        <input class="form-control input-email" placeholder="E-mail" id="input-email">
        <input class="form-control input-password" placeholder="Password" type="password"
                   autocomplete="password" id="input-password">
        <div class="forgot-password"><a>forgot password?</a></div>
        <button class="button-login" type="submit">Login</button>
    </form>
</div>

<script>
    $(document).ready(() => {
        initListener();
    });

    function initListener() {
        $("form").submit((e) => {
            e.preventDefault();
            mallUserLogin();
        })
    }

    function mallUserLogin() {
        const email = $(".input-email").val();
        const password = $(".input-password").val();
        const loginBtn = $(".button-login");
        loginBtn.addSpinner();
        $.ajax({
            url: "/user/login",
            method: "POST",
            data: {email, password},
            success: (response) => {
                console.log(response);
                if (response.code === 200) {
                    window.location.replace("/");
                } else {
                    Swal.fire({
                        title: "Invalid email or password",
                        text: " ",
                        showDenyButton: false,
                        showConfirmButton: true,
                        icon: "error"
                    });
                }
            },
            error: (err) => {
                console.log(err);
                showServerErrorSwal();
            },
            complete: () => {
                loginBtn.removeSpinner();
            }
        });
    }
</script>
</body>
</html>