<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{mall/header::general-libraries-and-styles(~{::title}, ~{::link}, ~{this::head/script})}">
    <meta charset="UTF-8">
    <title>Mall</title>
    <link th:replace="~{common/libraries::swiper-css}"/>
    <link rel="stylesheet" href="/styles/mall/all.css"/>
    <link rel="stylesheet" href="/styles/mall/login.css"/>
    <script th:replace="~{common/libraries::swiper-js}"></script>
</head>
<body>
<div class="login-body">
    <div class="background">
        <div class="login-panel">
            <div class="login-panel-header">
                <div class="sign-up-container">
                    <div class="button-sign-up">Crear cuenta</div>
                </div>
                <div class="logo">
                    <img src="/assets/img/poi.png" alt="mall icon">
                </div>
            </div>
            <div class="login-panel-body">
                <form>
                    <input class="form-control input-email" placeholder="E-mail" id="input-email">
                    <input class="form-control input-password" placeholder="Contraseña" type="password"
                           autocomplete="password" id="input-password">
                    <div class="forgot-password"><a>¿Has olvidado la contraseña?</a></div>
                    <button class="button-login" type="submit">Login</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(() => {
        initListener();
    });

    function initListener() {
        bindLoginEvent();
        bindSignUpEvent();
        bindGoHomeEvent();
    }

    function bindGoHomeEvent() {
        $(".logo img").click(() => {
            window.location.href = getBaseUrl();
        })
    }

    function bindSignUpEvent() {
        $(".button-sign-up").click(() => {
            window.location.href = getBaseUrl() + '/signup';
        });
    }

    function bindLoginEvent() {
        $("form").submit((e) => {
            e.preventDefault();
            mallUserLogin();
        });
    }

    function mallUserLogin() {
        const email = $(".input-email").val();
        const password = $(".input-password").val();
        const loginBtn = $(".button-login");
        loginBtn.addSpinner();
        $.ajax({
            url: "/user/login",
            method: "POST",
            data: {email, password},
            success: (response) => {
                if (response.code === 200) {
                    window.location.replace("/");
                    localStorage.setItem("user", JSON.stringify(response.data));
                } else if (response.code === 403) {
                    Swal.fire({
                        title: "Usuario no verificado",
                        text: "por favor, revise su banjeda de entrada y sigue los pasos para activar la cuenta",
                        showDenyButton: false,
                        showConfirmButton: true,
                        icon: "error"
                    });
                } else {
                    Swal.fire({
                        title: "E-mail o contraseña incorrecto",
                        text: " ",
                        showDenyButton: false,
                        showConfirmButton: true,
                        icon: "error"
                    });
                }
            },
            error: (err) => {
                console.log(err);
                showServerErrorSwal();
            },
            complete: () => {
                loginBtn.removeSpinner();
            }
        });
    }
</script>
</body>
</html>