<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<div th:fragment="navbar">
    <link rel="stylesheet" href="/styles/mall/navbar.css">
    <nav>
        <div class="navbar">
            <div class="navbar-lft">
                <img class="navbar-mall-icon" src="/assets/img/poi_128x128.png" alt="mall icon">
                <a class="navbar-admin-panel-button" href="/admin">Panel admin</a>
            </div>
            <div class="navbar-center">
                <div class="search-box">
                    <input class="search-input" type="search" placeholder="Buscar">
                    <div class="search-button"><i class="fa-solid fa-magnifying-glass"></i></div>
                </div>
            </div>
            <div class="navbar-rgt">
                <div sec:authorize="isAuthenticated()">
                    <div class="side-menu-background"></div>
                    <a class="btn-user-menu"><i class="fa-solid fa-user"></i><span class="nickname" sec:authentication="name"></span></a>
                    <div>
                        <div class="side-menu user-menu">
                            <div class="side-menu-header user-menu-header">
                                <div class="side-menu-header">Mi cuenta</div>
                                <div class="btn-close-side-menu"><i class="fa-solid fa-x"></i></div>
                            </div>
                            <div class="side-menu-body user-menu-body">
                                <ul>
                                    <li>
                                        Cuenta
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <a class="btn-shopping-cart"><i class="fa-solid fa-cart-shopping"></i> cesta</a>
                    <div>
                        <div class="side-menu shopping-cart">
                            <div class="side-menu-header shopping-cart-header">
                                <div class="side-menu-title">Mi cesta</div>
                                <div class="btn-close-side-menu"><i class="fa-solid fa-x"></i></div>
                            </div>
                            <div class="side-menu-body shopping-cart-body">
                            </div>
                            <div class="shopping-cart-spinner">
                                <div class="spinner-border" role="status"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div sec:authorize="!isAuthenticated()">
                    <a href="/login"><span>Login</span></a>
                    <a href="/signup"><span>Registrar</span></a>
                </div>
            </div>
        </div>
    </nav>

    <script>
        //没有放在 $(document).ready() 里是因为 navbar + 原网页会重叠，并且会定义两个initListener() { }
        $(document).ready(() => {
            blindMallLogoClickEvent();
            blindShoppingCartClickEvent();
        });

        function blindMallLogoClickEvent() {
            $(".navbar-mall-icon").click(() => {
                window.location.href = getBaseUrl();
            });
        }

        function blindShoppingCartClickEvent() {
            $(".btn-shopping-cart").click(() => {
                loadAndShowShoppingCart();
            });
        }

        function logout() {
            $.ajax({
                url: "/user/logout",
                method: "POST",
                success: (res) => {
                    if (res.code === 200) {
                        localStorage.removeItem("user");
                        window.location.replace("/");
                    } else {
                        showServerErrorSwal();
                    }
                }
            });
        }

        //search function
        $(".search-input").on("keydown", (e) => {
            if (e.keyCode === 13) {
                const keyWord = e.target.value;
                searchGoods(keyWord);
            }
        });

        $(".search-button").click(() => {
            const keyWord = $(".search-input").val();
            searchGoods(keyWord);
        });

        function searchGoods(keyword) {
            keyword = keyword.trim();
            window.location.href = "/search?keyword=" + keyword;
        }

        (function () {
            const url = window.location;
            const params = new URLSearchParams(url.search);
            const keyword = params.get("keyword");
            if (keyword != null) {
                $(".search-input").val(keyword);
            }
        })();

        function loadAndShowShoppingCart() {
            const backgroundDiv = $(".side-menu-background");
            backgroundDiv.show();
            backgroundDiv.click(() => hideShoppingCart());
            $(".shopping-cart").addClass("open");
            $(".btn-close-side-menu").click(() => hideShoppingCart());
            showShoppingCartLoadingIcon();
            $.ajax({
                method: "POST",
                url: "/shopping-cart/list",
                success: (res) => {
                    if (res.code === 200) {
                        renderShoppingCart(res.data);
                    }
                },
                error: () => showServerErrorSwal(),
                complete: () => hideShoppingCartLoadingIcon()
            });
        }

        function renderShoppingCart(items) {
            if (items.length < 1) {
                return;
            }
            let itemsDomStr = '';
            let totalPrice = 0.0;
            items.forEach((item) => {
                const {sellingPrice, goodsCount} = item;
                totalPrice = (sellingPrice * goodsCount * 10 + totalPrice * 10) / 10;
                itemsDomStr += generateShoppingCartItemsDOM(item);
            });
            const summaryDOM = generateSummaryDOM(totalPrice);
            const btnCashier = `<button class="button button-xl button-orange btn-cashier">Ir a cajero</button>`;
            const resultDOM = jQuery.parseHTML(itemsDomStr);
            const cartBody = $(".shopping-cart-body");
            cartBody.append(resultDOM);
            cartBody.append(summaryDOM);
            cartBody.append(btnCashier);
        }

        function generateSummaryDOM(total) {
            total = Number.parseFloat(total).toFixed(2);
            total = total.toString().replace(".", ",");
            const summaryDOM = `
                <div class="shopping-cart-summary">
                    <div>Total:</div>
                    <div>${total}€</div>
                </div>`;
            return jQuery.parseHTML(summaryDOM);
        }

        function generateShoppingCartItemsDOM(item) {
            const {goodsCoverImg, goodsName, sellingPrice, goodsCount} = item;
            const sellingPriceStr = parseNumberToEuro(sellingPrice)
            return`<div class="shopping-cart-item-container">
                        <div class="shopping-cart-item-image">
                            <img src="${goodsCoverImg}" alt="cart item image">
                        </div>
                        <div class="shopping-cart-item-info">
                            <div class="shopping-cart-item-title">${goodsName}</div>
                            <div class="shopping-cart-item-price">${sellingPriceStr}</div>
                            <div class="shopping-cart-item-count">unidades: ${goodsCount}</div>
                        </div>
                        <div class="shopping-cart-item-delete">
                            <i class="fa-solid fa-trash"></i>
                        </div>
                    </div>`;
        }

        function hideShoppingCart() {
            const backgroundDiv = $(".side-menu-background");
            $(".side-menu.open").removeClass("open");
            backgroundDiv.hide();
            backgroundDiv.unbind();
            $(".btn-close-side-menu").unbind();
            $(".shopping-cart-body").empty();
        }

        function showShoppingCartLoadingIcon() {
            $(".shopping-cart-spinner").show();
        }

        function hideShoppingCartLoadingIcon() {
            $(".shopping-cart-spinner").hide();
        }
    </script>
</div>
</html>