<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{mall/header::general-libraries-and-styles(~{::title}, ~{::link}, ~{this::head/script})}">
    <meta charset="UTF-8">
    <title>Mall</title>
    <link rel="stylesheet" href="/styles/mall/all.css"/>
    <link rel="stylesheet" href="/styles/mall/product-search.css">
</head>
<nav th:replace="~{mall/navbar::navbar}"></nav>
<body>
<div class="floor">

    <div class="filter">
        <div></div>
    </div>
    <div class="search-result">

    </div>
</div>
</body>
<footer th:replace="~{mall/footer::footer}"></footer>
</html>