<!DOCTYPE html>
<!--suppress JSJQueryEfficiency -->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{mall/header::general-libraries-and-styles(~{::title}, ~{::link}, ~{this::head/script})}">
    <meta charset="UTF-8">
    <title>Mall</title>
    <link th:replace="~{common/libraries::swiper-css}"/>
    <link rel="stylesheet" href="/styles/mall/all.css"/>
    <link rel="stylesheet" href="/styles/mall/login.css"/>
    <link rel="stylesheet" href="/styles/mall/reset-password.css">
    <script th:replace="~{common/libraries::swiper-js}"></script>
</head>
<body>
<div class="login-body">
    <div class="background">
        <div class="login-panel">
            <div class="login-panel-header">
                <div class="d-flex justify-content-between">
                </div>
                <div class="logo">
                    <img src="/assets/img/poi.png" alt="mall icon">
                </div>
            </div>
            <div class="login-panel-body">
                <form class="need-validation">
                    <label for="input-password">Nueva contraseña</label>
                    <input class="form-control" id="input-password" placeholder="Contraseña" type="password">
                    <div class="invalid-feedback"></div>
                    <label for="input-repeat-password">Repetir nueva contraseña</label>
                    <input class="form-control" id="input-repeat-password" placeholder="Repetir contraseña" type="password">
                    <div class="invalid-feedback"></div>
                    <button class="button button-xl button-purple btn-reset-password" type="submit">Recuperar contraseña</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    const token = getToken();
    $(document).ready(() => {
        initListener();
    });

    function initListener() {
        $("#input-password").on("input", () => checkPasswordValidity());
        $("#input-repeat-password").on("input", () => checkRepeatPasswordValidity());
        $("form").submit((e) => {
            e.preventDefault();
            if (checkPasswordValidity() && checkRepeatPasswordValidity()) {
                resetPassword();
            }
        });
    }

    function checkPasswordValidity() {
        const input = $("#input-password");
        const password = input.val();

        if (password.length < 8) {
            input.setInvalidWithFeedBack("Debe contenr almenos 8 caracteres");
            return false;
        }

        const regEx = new RegExp("^(?=.*[A-Za-z])(?=.*\\d)(?=.*[~!@#$%^&*()_+=\\-\\[\\]{};:/.,<>?]).*$");
        if (!regEx.test(password)) {
            input.setInvalidWithFeedBack("Debe contener almenos una letra, un número y un carácter especial");
            return false;
        }

        input.setValid();
        return true;
    }

    function checkRepeatPasswordValidity() {
        const input = $("#input-repeat-password");
        const confirmedPassword = input.val();
        const originalPassword = $("#input-password").val();

        if (originalPassword !== confirmedPassword || confirmedPassword.length === 0) {
            input.setInvalidWithFeedBack("Las contraseñas no coinciden");
            return false;
        }

        input.setValid();
        return true;
    }

    function resetPassword() {
        const btn = $(".btn-reset-password");
        const password = $("#input-password").val();
        btn.addSpinner();
        $.ajax({
            url: "/user/reset-password",
            method: "POST",
            data: {token: token, password: password},
            success: (res) => {
                if (res.code === 200) {
                    Swal.fire({
                        title: "Se ha guardado los cambios",
                        text: "Ya puedes acceder a tu cuenta con la nueva contraseña.",
                        icon: "success",
                        showConfirmButton: true,
                    }).then(() => {
                        window.location.replace("/login");
                    });
                } else {
                    Swal.fire({
                        title: "Petición caducada",
                        text: "Este enlace ha caducado, intenta de nuevo a solicitar restablecimiento de contraseña",
                        icon: "error",
                        showConfirmButton: true
                    });
                }
            },
            error: () => showServerErrorSwal(),
            complete: () => btn.removeSpinner(),
        });
    }

    function getToken() {
        const url = window.location.pathname;
        const urlPart = url.split("/");
        return urlPart[urlPart.length - 1];
    }
</script>
</body>
</html>