<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title th:remove="all">Template for HTML email with inline image</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body style="margin: 0">
<table style="background-color: #ffffff; max-width: 750px; padding: 20px">
    <tr>
        <td><img src="https://jiezicloud.com/assets/img/poi_128x128.png" alt="mall icon" width="76"></td>
    </tr>
    <tr>
        <td style="background-color: #FFFFFF; padding: 0 20px;
        font-family: Helvetica, Serif, sans-serif; font-size: 15px">
            <p>Hi <span th:text="${nickname}"></span>,</p>
            <p>Recientemente recibimos una solicitud para restablecer la contraseña de tu cuenta. Para procederlo,
                sigue las instrucciones a continuación:</p>
            <p>
                Haz clic en el siguiente enlace para acceder a la página de restablecimiento de contraseña:
            </p>
            <a th:href="${resetUrl}" th:text="${resetUrl}"></a>
            <p>
                Una vez en la página de restablecimiento, se te pedirá que ingreses una nueva contraseña para tu cuenta.
            </p>
            <p>
                Después de enviar tu nueva contraseña, podrás iniciar sesión en tu cuenta utilizando las credenciales actualizadas.
            </p>
            <p>
                Ten en cuenta que este enlace de restablecimiento de contraseña es válido por 24 horas.
                Si no solicitaste este restablecimiento de contraseña o crees que es un intento no autorizado,
                ignora este correo electrónico.
            </p>
        </td>
    </tr>

    <tr>
        <td style="height: 20px"></td>
    </tr>
    <tr>
        <td style=" border-top: #3d3d3d 1px solid; font-size: 12px">
            Este mensaje es auto-generado por sistema. Por favor, no responda a este correo. Si tiene alguna
            pregunta, póngase en contacto con el servicio de atención al cliente.
        </td>
    </tr>
</table>
</body>
</html>