<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title th:remove="all">Template for HTML email with inline image</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body style="margin: 0">
<table style="background-color: #ffffff; max-width: 750px; padding: 20px">
    <tr>
        <td><img src="https://jiezicloud.com/assets/img/poi_128x128.png" alt="mall icon" width="76"></td>
    </tr>
    <tr>
        <td style="background-color: #FFFFFF; padding: 0 20px;
        font-family: Helvetica, Serif, sans-serif; font-size: 15px">
            <p>Hi <span th:text="${nickName}"></span>,</p>
            <p>Gracias por crear cuenta en nuestro centro comercial. Para completar su registro,
                por favor haga clic en el enlace de activación.</p>
            <a th:href="${verificationUrl}" th:text="${verificationUrl}"></a>
            <p>Debe activar su cuenta dentro de los 24 horas posteriores al recibir correo,
                o necesitará repetir el proceso de creación de cuenta.</p>
            <p>Si no has creado esta cuenta o cree que este correo electrónico fue enviado por error, ignore este mensaje.
                Su cuenta no será activada a menos que haga clic en el enlace de activación.</p>
        </td>
    </tr>
    <tr>
        <td style="height: 20px"></td>
    </tr>
    <tr>
        <td style=" border-top: #3d3d3d 1px solid; font-size: 12px">
            Este mensaje es auto-generado por sistema. Por favor, no responda a este correo. Si tiene alguna
            pregunta, póngase en contacto con el servicio de atención al cliente.
        </td>
    </tr>
</table>
</body>
</html>