body {
    margin: 0;
}

.floor {
    padding: 50px 20px;
}

.floor:first-child {
    padding: 10px 20px 50px 20px;
}

.floor > div {
    max-width: 1278px;
    margin: auto;
}

.floor-dark {
    background-color: #DDDDDD;
}

.floor-left-title {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    height: 100%;
    font-weight: bold;
    font-size: 48px;
}

.floor-top-title {
    height: 100%;
    font-weight: bold;
    font-size: 32px;
}
