.main-content {
    padding: 20px 0;
    display: flex;
    justify-content: space-around;
}

.floor {
    padding: 20px 20px;
}

.goods-image-container {
    width: 45%;
}

.goods-image-container img {
    width: 100%;
}

.goods-info {
    width: 45%;
}

.goods-name {
    padding-top: 30px;
    font-family: "Open Sans", open-sans, sans-serif;
    font-size: 24px;
    font-weight: bold;
}

.goods-intro {
    color: #7e7e7e;
    font-size: 16px;
}

.goods-price {
    padding-top: 20px;
    font-family: "Open Sans", open-sans, sans-serif;
    font-weight: bold;
    display: flex;
}

.goods-price-int-part {
    font-size: 30px;
}

.goods-price-decimal-part {
    font-size: 15px;
    margin-top: 6px;
    margin-left: 6px;
}


.add-to-cart-options {
    display: flex;
    padding-top: 20px;
}

.button-add-to-cart {
    display: flex;
    justify-content: center;
    padding: 7px 0;
    background-color: var(--mall-color);
    font-size: 16px;
    font-weight: bold;
    color: #FFFFFF;
    border-radius: 7px;
    cursor: pointer;
    border: none;
    margin-top: 20px;
}

.goods-description {
    padding: 20px 40px 10px 40px;
    border: 1px #d9d9d9 solid;
    border-radius: 20px;
}

