.swiper {
    margin: 0;
}

.swiper-slide img {
    width: 100%;
}

.first-screen {
    display: flex;
}

.category-menu {
    margin-right: 15px;
    border: 1px #DDDDDD solid;
    border-radius: 5px;
}

.category-level1 {
    width: 220px;
    padding: 10px 25px;
    cursor: pointer;
    display: block;
}

.category-level1:hover {
    background-color: var(--mall-light-color);
}

.category-level1:hover ~ .category-sub-menu-container {
    display: block;
}

.category-sub-menu {
    background-color: #FFFFFF;
    border-radius: 5px;
    border: 1px #DDDDDD solid;
    z-index: 2;
    width: 600px;
    height: 100%;
    padding: 10px;
    margin-left: 30px;
}

.category-level2-name {
    font-weight: bold;
}

.category-sub-menu .category-level2 {
    margin-bottom: 15px;
}

.category-sub-menu .category-level2:last-child {
    margin-bottom: 0;
}

.category-level2, .category-level3 {
    cursor: pointer;
}

.category-level2 .category-level3 {
    padding: 0 15px;
    margin: 4px 0;
    border-left: 1px solid #DDDDDD;
    display: inline-block;
}

.category-level3:hover, .category-level2-name:hover {
    color: var(--mall-color);
}

.category-level3 {
    font-size: 14px;
}

.category-sub-menu-container {
    position: absolute;
    display: none;
    cursor: default;
    z-index: 2;
}

.category-sub-menu-container:hover {
    display: block;
}

.product-container {
    background-color: #FFFFFF;
    padding: 22px;
    width: 220px;
    cursor: pointer;
    border-radius: 10px;
    margin: auto;
}

.product-image-container {
    display: flex;
    justify-content: center;
}

.product-container img {
    width: 180px;
}

.product-name {
    display: -webkit-box;
    font-size: 14px;
    height: 63px;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    font-weight: 500;
}

.product-container:hover .product-name {
    color: var(--mall-color);
}

.product-price {
    font-size: 18px;
    font-weight: bold;
    color: #7e7e7e;
}

/* product preview style */
.product-container img {
    width: 100%;
}

/* Best Selling divs */
.best-selling-container {
    display: flex;
    justify-content: center;
    padding: 10px 0;
    border-radius: 10px;
}

.swiper-slide:nth-child(2n) {
    width: 40%;
}
.swiper-slide:nth-child(3n) {
    width: 20%;
}