nav {
    border-bottom: 1px solid #d9d9d9;
    padding: 0 10px;
}

.navbar {
    padding: 0 20px;
    height: 80px;
    margin: 0 auto;
    max-width: 1500px;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

nav a {
    font-size: 18px;
    padding: 8px 20px;
    cursor: pointer;
    border-radius: 5px;
    transition-duration: 0.3s;
    text-decoration: none;
    color: #000000;
}

nav a:hover {
    background-color: var(--mall-light-color);
    text-decoration: none;
    color: #000000;
}

.navbar-lft {
    display: flex;
    align-items: center;
}

.navbar-lft .navbar-mall-icon {
    height: 65px;
    margin-right: 20px;
    cursor: pointer;
}

.navbar-lft .navbar-admin-panel-button {
    font-size: 15px;
    background-color: var(--mall-light-color);
}

.navbar-admin-panel-button:hover {
    background-color: var(--mall-color);
    color: #ffffff;
}

.navbar-center {
    padding: 0 20px;
    flex-grow: 1;
}

nav .btn-shopping-cart {
    background-color: var(--mall-color);
    color: #FFFFFF;
}

nav .btn-shopping-cart:hover {
    background-color: var(--mall-color);
    color: #FFFFFF;
}

.search-box {
    display: flex;
    height: 40px;
    border-radius: 30px;
    border: 1px solid var(--mall-color);
    align-items: center;
}

.search-box:hover, .search-box:focus-within {
    box-shadow: 0 0 6px 0 var(--mall-light-color);
}

.search-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    cursor: pointer;
    height: max-content;
    margin: 0 10px;
    padding: 5px 0;
    background-color: var(--mall-color);
    border-radius: 15px;
    color: #FFFFFF;
}

input[type="search"] {
    flex-grow: 1;
    border: none;
    border-radius: inherit;
    border-right: 0;
    text-indent: 15px;
}

input[type="search"]:focus{
    outline: none;
}

.navbar-rgt>div {
    display: flex;
}

.navbar-rgt span {
    font-size: 15px;
    padding: 0 5px;
}

.navbar-rgt a {
    margin-left: 10px;
}

.navbar-rgt a:first-child {
    margin-left: 0;
}

.logout-option:hover {
    color: #ff0000;
}

.side-menu-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    display: none;
    backdrop-filter: blur(2px);
    background-color: rgba(240, 240, 240, 0.6);
    transition-duration: 0.5s;
}

.side-menu {
    position: fixed;
    top: 0;
    right: -460px;
    width: 450px;
    height: 100%;
    background: #ffffff;
    transform-origin: right;
    transition-duration: 0.5s;
    z-index: 3;
    box-shadow: 0 0 10px 0 rgba(210, 210, 210, 0.8);
    padding: 0 25px;
}

.side-menu.open {
    right: 0;
}

.side-menu-header {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}

.side-menu-title {
    cursor: default;
    font-weight: bold;
    font-size: 20px;
}

.btn-close-side-menu {
    cursor: pointer;
    border-radius: 4px;
    padding: 3px 10px;
}

.btn-close-side-menu:hover {
    background-color: #d9d9d9;
}

.shopping-cart-item-container {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    border-radius: 8px;
    border: #d9d9d9 1px solid;
    cursor: pointer;
}

.shopping-cart-item-container:first-child {
    margin-top: 0;
}

.shopping-cart-item-container:hover {
    box-shadow: 0 0 5px 0 rgba(210, 210, 210, 0.8);
}

.shopping-cart-item-image {
    padding: 5px;
}

.shopping-cart-item-image img {
    width: 80px;
}

.shopping-cart-item-info {
    flex-grow: 1;
    padding: 5px;
    font-weight: 500;
}

.shopping-cart-item-title {
    font-size: 14px;
}

.shopping-cart-item-price {
    font-size: 14px;
}

.shopping-cart-item-count {
    font-size: 13px;
}

.shopping-cart-spinner {
    display: flex;
    justify-content: center;
}

.shopping-cart-spinner {
    margin-top: 40px;
}

.shopping-cart-summary {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    font-size: 15px;
    font-weight: 600;
}

.shopping-cart-item-delete {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
    border-bottom-right-radius: inherit;
    border-top-right-radius: inherit;
    transition-duration: 0.3s;

}

.shopping-cart-item-delete:hover {
    background-color: #f35858;
    color: #ffffff;
}

.shopping-cart-empty-container {
    margin-top: 100px;
    display: flex;
    justify-content: center;
}

.shopping-cart-empty-container .shopping-cart-icon {
    position: relative;
    font-size: 48px;
}

.shopping-cart-empty-container .x-mark {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    font-size: 20px;
    height: 25px;
    width: 25px;
    background-color: #ffffff;
    border-radius: 50%;
}

.user-menu-body {
    padding: 0 10px;
}

.user-menu-body > hr {

}

.user-menu-option {
    font-size: 16px;
    display: flex;
    padding: 6px 0;
    border-radius: 8px;
    cursor: pointer;
}

.user-menu-option:hover {
    background-color: var(--mall-color);
    color: #ffffff;
}

.user-menu-option-icon {
    display: flex;
    width: 25px;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}