nav {
    border-bottom: 1px solid #d9d9d9;
    padding: 0 10px;
}

.navbar {
    padding: 0 20px;
    height: 80px;
    margin: 0 auto;
    max-width: 1500px;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

nav a {
    font-size: 18px;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    transition-duration: 0.3s;
    text-decoration: none;
    color: #000000;
}

nav a:hover {
    background-color: #d9d9d9;
    text-decoration: none;
    color: #000000;
}

.navbar-lft {
    display: flex;
    align-items: center;
}

.navbar-lft .navbar-mall-icon {
    height: 65px;
    margin-right: 20px;
    cursor: pointer;
}

.navbar-lft .navbar-admin-panel-button {
    font-size: 15px;
    background-color: #d9d9d9;
}

.navbar-admin-panel-button:hover {
    background-color: #fc830a;
    color: #ffffff;
}

.navbar-center {
    padding: 0 20px;
    flex-grow: 1;
}

nav .shopping-cart {
    background-color: #fc830a;
    color: #FFFFFF;
}

nav .shopping-cart:hover {
    background-color: #fc830a;
    color: #FFFFFF;
}

.search-box {
    display: flex;
    height: 40px;
    border-radius: 30px;
    border: 1px solid #DDDDDD;
    align-items: center;
}

.search-box:hover {
    box-shadow: 0 0 5px 0 #DDDDDD;
}

.search-box:focus-within {
    box-shadow: 0 0 5px 0 #DDDDDD;
}

.search-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    cursor: pointer;
    height: max-content;
    margin: 0 10px;
    padding: 5px 0;
    background-color: #fc830a;
    border-radius: 15px;
    color: #FFFFFF;
}

input[type="search"] {
    flex-grow: 1;
    border: none;
    border-radius: inherit;
    border-right: 0;
    text-indent: 15px;
}

input[type="search"]:focus{
    outline: none;
}

.navbar-rgt div {
    display: inline-block;
}

.navbar-rgt span {
    font-size: 15px;
    padding: 0 5px;
}

.logged-options-container {
    display: none;
}

.logout-option:hover {
    color: #ff0000;
}