nav {
    border-bottom: 1px solid #d9d9d9;

}

.navbar {
    padding: 0 30px;
    height: 80px;
    margin: 0 auto;
    max-width: 1500px;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

.navbar-lft .navbar-mall-icon {
    height: 65px;
    margin-right: 20px;
    cursor: pointer;
}

.navbar-center {
    font-size: 30px;
    font-weight: bold;

}

nav a {
    font-size: 18px;
    padding: 8px 20px;
    cursor: pointer;
    border-radius: 5px;
    transition-duration: 0.3s;
    text-decoration: none;
    color: #000000;
}

.btn-cancel {
    background-color: var(--mall-color);
    color: #ffffff;
    font-size: 16px;
}

.floor > div {
    display: flex;
}

.summary {
    width: 280px;
    border-radius: 8px;
    border: 1px solid #d9d9d9;
    padding: 10px;
    height: max-content;
}

.summary-title {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 10px;
    color: #484848;
}

.summary-body {
    font-weight: 500;
}

.shopping-cart {
    flex-grow: 1;
    margin-right: 30px;
}

.shopping-cart-item {
    padding: 20px;
    border-radius: 8px;
    border: 1px solid #d9d9d9;
    display: flex;
    margin-top: 15px;
    font-size: 14px;
}

.shopping-cart-item:first-child {
    margin-top: 0;
}

.shopping-cart-item-image img {
    width: 130px;
}

.shopping-cart-item-info {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.shopping-cart-item-title {
    font-size: 16px;
    font-weight: 500;
}

.shopping-cart-item-price {
    padding: 10px 0;
    font-size: 17px;
    font-weight: 500;
}

.amount-container {
    display: flex;
    height: 100%;
    flex-direction: column-reverse;
}

.input-buy-amount {
    width: 20px;
}

.shopping-cart-item-right {
    display: flex;
    flex-grow: 1;
    flex-direction: row-reverse;
}

.shopping-cart-empty-container {
    padding-top: 70px;
    display: flex;
    justify-content: center;
}

.shopping-cart-empty-container .shopping-cart-icon {
    position: relative;
    font-size: 72px;
}

.shopping-cart-empty-container .x-mark {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    font-size: 32px;
    height: 38px;
    width: 38px;
    background-color: #ffffff;
    border-radius: 50%;
}

.shopping-cart-empty-message {
    display: flex;
    justify-content: center;
    font-weight: 700;
    font-size: 32px;
}