.login-body {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.logo {
    display: flex;
    justify-content: center;
}

.logo img {
    width: 150px;
}

section {
    width: 400px;
    padding: 25px;
}

section:first-child {
    border-right: 1px #d2d2d2 solid;
    padding-right: 50px;
}

section:last-child {
    padding-left: 50px;
}

article {
    margin: 20px 0;
    display: flex;
}

section article:first-child {
    margin-top: 0;
}

section article:last-child {
    margin-bottom: 0;
}

.message-logo {
    width: 65px;
    height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border-radius: 20px;
    background-color: var(--mall-color);
    color: #ffffff;
    margin-right: 20px;
    font-size: 40px;
    flex-shrink: 0;
}

.message-title {
    font-size: 16px;
    font-weight: 600;
}

.message-text {
    font-size: 14px;
    font-weight: 500;
}

form > *:not(:first-child) {
    margin-top: 20px;
}

.form-check label {
    font-size: 13px;
}

.hyperlink {
    color: #0078ff;
    cursor: pointer;
}

.hyperlink:hover {
    text-underline: #0078ff;
}

.button-sign-up {
    display: flex;
    justify-content: center;
    padding: 7px 0;
    background-color: var(--mall-color);
    font-size: 16px;
    font-weight: bold;
    color: #FFFFFF;
    border-radius: 7px;
    cursor: pointer;
    border: none;
    width: 100%;
}