<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jiezipoi.mall.dao.UserDao">
    <resultMap id="BaseResultMap" type="com.jiezipoi.mall.entity.MallUser" >
        <id column="user_id" jdbcType="BIGINT" property="userId"/>
        <result column="nick_name" jdbcType="VARCHAR" property="nickName"/>
        <result column="email" jdbcType="VARCHAR" property="email"/>
        <result column="password" jdbcType="VARCHAR" property="password"/>
        <result column="introduce_sign" jdbcType="VARCHAR" property="introduceSign"/>
        <result column="address" jdbcType="VARCHAR" property="address"/>
        <result column="is_deleted" jdbcType="TINYINT" property="isDeleted"/>
        <result column="locked_flag" jdbcType="TINYINT" property="lockedFlag"/>
        <result column="user_status" typeHandler="com.jiezipoi.mall.handler.UserStatusTypeHandler" property="userStatus"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <collection property="permissions" ofType="java.lang.String">
            <result column="permission_key"/>
        </collection>
    </resultMap>

    <select id="selectByEmail" resultMap="BaseResultMap">
        SELECT user.user_id, nick_name, email, password, introduce_sign, address, is_deleted, locked_flag, user_status, user.create_time, permission_key
        FROM user
        JOIN user_has_role ON user_has_role.user_id = user.user_id
        JOIN role_has_permision ON role_has_permision.role_id = user_has_role.role_id
        JOIN permission ON role_has_permision.permission_id = permission.permission_id
        WHERE email = #{email,jdbcType=VARCHAR};

    </select>

    <select id="selectByEmailAndPassword" resultMap="BaseResultMap">
        SELECT user.user_id, nick_name, email, password, introduce_sign, address, is_deleted, locked_flag, user_status, user.create_time, permission_key
        FROM user
        JOIN user_has_role ON user_has_role.user_id = user.user_id
        JOIN role_has_permision ON role_has_permision.role_id = user_has_role.role_id
        JOIN permission ON role_has_permision.permission_id = permission.permission_id
        WHERE email = #{email,jdbcType=VARCHAR} AND password = #{password,jdbcType=VARCHAR}
    </select>

    <insert id="insertSelective" parameterType="com.jiezipoi.mall.entity.MallUser" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">
                user_id,
            </if>
            <if test="nickName != null and nickName != ''">
                nick_name,
            </if>
            <if test="email != null and email != ''">
                email,
            </if>
            <if test="password != null and password != ''">
                password,
            </if>
            <if test="introduceSign != null and introduceSign != ''">
                introduce_sign,
            </if>
            <if test="address != null and address != ''">
                address,
            </if>
            <if test="isDeleted != null">
                is_deleted,
            </if>
            <if test="lockedFlag != null">
                locked_flag,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
        </trim>
        <trim prefix="VALUES (" suffix=")" suffixOverrides=",">
            <if test="userId != null">
                #{userId,jdbcType=BIGINT},
            </if>
            <if test="nickName != null and nickName != ''">
                #{nickName,jdbcType=VARCHAR},
            </if>
            <if test="email != null and email != ''">
                #{email,jdbcType=VARCHAR},
            </if>
            <if test="password != null and password != ''">
                #{password,jdbcType=VARCHAR},
            </if>
            <if test="introduceSign != null and introduceSign != ''">
                #{introduceSign,jdbcType=VARCHAR},
            </if>
            <if test="address != null and address != ''">
                #{address,jdbcType=VARCHAR},
            </if>
            <if test="isDeleted != null">
                #{isDeleted,jdbcType=TINYINT},
            </if>
            <if test="lockedFlag != null">
                #{lockedFlag,jdbcType=TINYINT},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>

    <update id="updateStatusByPrimaryKey">
        UPDATE user
        SET user_status = #{status.code}
        WHERE user_id = #{userId,jdbcType=BIGINT};
    </update>

    <insert id="insertVerificationCode">
        INSERT INTO user_verification_code
        VALUES (#{email,jdbcType=VARCHAR}, #{verificationCode,jdbcType=VARCHAR}, NULL);
    </insert>

    <select id="selectEmailByVerificationCode" resultType="java.lang.String">
        SELECT email
        FROM user_verification_code
        WHERE verification_code = #{verificationCode,jdbcType=VARCHAR}
    </select>

    <delete id="deleteVerificationCodeByEmail">
        DELETE FROM user_verification_code
        WHERE email = #{email,jdbcType=VARCHAR}
    </delete>
</mapper>